In [5]:
import nasdaqdatalink

In [5]:
mydata = nasdaqdatalink.get("FRED/GDP")

In [6]:
mydata

                Value
Date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  23992.355

[300 rows x 1 columns]

In [3]:
mydata1 = nasdaqdatalink.get("FRED/GDP", start_date="2001-12-31", end_date="2005-12-31")
mydata1

                Value
Date
2002-01-01  10783.500
2002-04-01  10887.460
2002-07-01  10984.040
2002-10-01  11061.433
2003-01-01  11174.129
2003-04-01  11312.766
2003-07-01  11566.669
2003-10-01  11772.234
2004-01-01  11923.447
2004-04-01  12112.815
2004-07-01  12305.307
2004-10-01  12527.214
2005-01-01  12767.286
2005-04-01  12922.656
2005-07-01  13142.642
2005-10-01  13324.204

In [6]:
mydata2 = nasdaqdatalink.get_table('ZACKS/FC', ticker='AAPL')
mydata2

ForbiddenError: (Status 403) (Nasdaq Data Link Error QEPx04) A valid API key is required to retrieve data. Please check your API key and try again. You can find your API key under your account settings.