In [1]:
import pandas as pd
import yfinance as yf

In [4]:
vale = yf.Ticker("vale3.sa")

In [7]:

# get historical market data
hist = vale.history(period="max")

In [8]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-03 00:00:00-02:00,1.616370,1.635998,1.616370,1.616370,585600,0.0,0.0
2000-01-04 00:00:00-02:00,1.600977,1.604440,1.577886,1.577886,782400,0.0,0.0
2000-01-05 00:00:00-02:00,1.558643,1.577886,1.558643,1.577886,1876800,0.0,0.0
2000-01-06 00:00:00-02:00,1.577886,1.616371,1.577886,1.577886,792000,0.0,0.0
2000-01-07 00:00:00-02:00,1.597128,1.643695,1.597128,1.635613,5347200,0.0,0.0
...,...,...,...,...,...,...,...
2023-10-26 00:00:00-03:00,63.799999,65.370003,63.610001,65.300003,30936700,0.0,0.0
2023-10-27 00:00:00-03:00,65.470001,67.760002,64.709999,67.570000,47989100,0.0,0.0
2023-10-30 00:00:00-03:00,68.400002,68.889999,68.040001,68.180000,26604100,0.0,0.0
2023-10-31 00:00:00-03:00,67.769997,69.239998,67.570000,69.000000,20961400,0.0,0.0
2023-11-01 00:00:00-03:00,69.260002,70.699997,69.250000,70.320000,31445600,0.0,0.0

In [2]:
start = '2014-10-01'
end = '2021-05-31'

In [3]:
symbol = 'vale3.sa'

In [4]:
df = yf.download(symbol, start, end)

[*********************100%%**********************]  1 of 1 completed

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1653 entries, 2014-10-01 to 2021-05-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1653 non-null   float64
 1   High       1653 non-null   float64
 2   Low        1653 non-null   float64
 3   Close      1653 non-null   float64
 4   Adj Close  1653 non-null   float64
 5   Volume     1653 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 90.4 KB

In [49]:
del df['Open']
del df['High']
del df['Low']
del df['Adj Close']

In [51]:
#Porcentagem nwgativa da mudanca de precos
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1653 entries, 2014-10-01 to 2021-05-28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1653 non-null   float64
 1   Volume  1653 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 38.7 KB

In [ ]:
# show meta information about the history (requires history() to be called first)
msft.history_metadata

In [45]:
df['yesterday'] = df.shift(periods = 1)

ValueError: Cannot set a DataFrame with multiple columns to the single column yesterday