In [3]:
import pandas as pd
import yfinance as yf

In [ ]:
#!pip install amazon_codeguru_jupyterlab_extension

In [ ]:
# Lendo o arquivo gerado com as informações consolidadas
EBITDA

In [ ]:
df[''] = df.groupby(df['data'].dt.to_period('M'))['vendas'].transform('mean')
df

In [ ]:
vale3 = yf.Ticker("vale3.sa")

In [ ]:

# get historical market data
hist = vale3.history(period="max")

In [ ]:
vale = hist
vale.info()

In [ ]:
# show meta information about the history (requires history() to be called first)
vale3.history_metadata

In [ ]:
income = vale3.income_stmt

In [ ]:
income.info()

In [ ]:
income

In [ ]:
#income.to_csv('income.csv')

In [ ]:
income['2022-12-31']income['2022-12-31']

In [ ]:
income['2022-12-31']

In [ ]:
EBITDA = income['2022-12-31']['EBITDA']
EBITDA

In [ ]:
# Criar a coluna 'Anual' com o primeiro valor de cada ano
df['Anual'] = df.groupby(df.index.year)['Close'].transform('first')

In [ ]:
# funcao para extrair informacoes do income
def extract_financial_info(year, column_name, dataframe):
    """
    Função para extrair informações financeiras de um DataFrame com base no ano e no nome da coluna.
    
    Parâmetros:
    - year (str): Ano para o qual a informação deve ser extraída.
    - column_name (str): Nome da coluna (informação financeira) que se deseja extrair.
    - dataframe (pd.DataFrame): DataFrame contendo os dados financeiros.
    
    Retorna:
    - Valor da informação financeira para o ano especificado.
    """
    try:
        value = income[year][column_name]
        return value
    except KeyError:
        return f'Informação {column_name} para o ano {year} não encontrada.'
    except Exception as e:
        return f'Erro ao extrair informação: {e}'

In [ ]:
EBITDA = extract_financial_info('2022-12-31', 'EBITDA', income)
EBITDA

In [ ]:
def inserir_income(df, EBITDA, valor, atualizar=False):
  """
  Insere informações do balanço, que tem periodicidade anual, no arquivo da vale que .

  Args:
    df: O DataFrame no qual a coluna será inserida.
    nome_coluna: O nome da coluna a ser inserida.
    valor: O valor a ser inserido na coluna.
    atualizar: Se True, o valor será atualizado na coluna se ela já existir. Se False, a coluna será criada se não existir.

  Returns:
    O DataFrame com a coluna inserida.
  """

  # Verifica se a coluna já existe

  if nome_coluna in df.columns:
    # Atualiza o valor da coluna
    if atualizar:
      df[nome_coluna] = valor
    else:
      raise ValueError(f"A coluna '{nome_coluna}' já existe. Use atualizar=True para atualizar o valor da coluna.")
  else:
    # Cria a coluna
    df[nome_coluna] = valor

  return df

In [ ]:
# Extraindo informacoes do balanço
balance = vale.balance_sheet
balance.head(10)

In [ ]:
vale.cashflow

In [ ]:
symbol = 'vale3.sa'

In [ ]:
df = yf.download(symbol, start, end)

In [ ]:
df.info()

In [ ]:
del df['Open']
del df['High']
del df['Low']
del df['Adj Close']

In [4]:

start = '2008-01-01'
end = '2023-10-31'
symbol = "USDBRL=X"

In [5]:
# get historical market data
dolar = yf.download(symbol, start, end)
dolar

[*********************100%%**********************]  1 of 1 completed

               Open    High       Low    Close  Adj Close  Volume
Date
2008-01-01  1.76730  1.7673  1.767300  1.76730    1.76730       0
2008-01-02  1.77600  1.7822  1.756000  1.76450    1.76450       0
2008-01-03  1.76450  1.7684  1.748000  1.74800    1.74800       0
2008-01-04  1.74800  1.7665  1.739100  1.75720    1.75720       0
2008-01-07  1.76150  1.7777  1.745100  1.76400    1.76400       0
...             ...     ...       ...      ...        ...     ...
2023-10-24  5.01230  5.0261  4.971456  5.01230    5.01230       0
2023-10-25  4.99100  5.0165  4.985900  4.99100    4.99100       0
2023-10-26  4.99470  5.0148  4.986613  4.99470    4.99470       0
2023-10-27  4.98530  4.9874  4.930200  4.98530    4.98530       0
2023-10-30  4.95203  5.0478  4.952030  4.95203    4.95203       0

[4100 rows x 6 columns]

In [ ]:
#extraindo cotacao do dolar
dolar = yf.Ticker("USDBRL=X")
dolar.info()

In [ ]:
# get historical market data
usd = dolar.history(period="max")

In [ ]:
# show meta information about the history (requires history() to be called first)
msft.history_metadata

In [ ]:
df['yesterday'] = df.shift(periods = 1)