In [2]:
import pandas as pd
import yfinance as yf

In [50]:
vale3 = yf.Ticker("vale3.sa")

In [51]:

# get historical market data
hist = vale3.history(period="max")

In [53]:
vale = hist
vale.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5988 entries, 2000-01-03 00:00:00-02:00 to 2023-11-01 00:00:00-03:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          5988 non-null   float64
 1   High          5988 non-null   float64
 2   Low           5988 non-null   float64
 3   Close         5988 non-null   float64
 4   Volume        5988 non-null   int64
 5   Dividends     5988 non-null   float64
 6   Stock Splits  5988 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 374.2 KB

In [48]:
# show meta information about the history (requires history() to be called first)
vale3.history_metadata

{'currency': 'BRL',
 'symbol': 'VALE3.SA',
 'exchangeName': 'SAO',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 946900800,
 'regularMarketTime': 1698869274,
 'gmtoffset': -10800,
 'timezone': 'BRT',
 'exchangeTimezoneName': 'America/Sao_Paulo',
 'regularMarketPrice': 70.32,
 'chartPreviousClose': 3.5,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'BRT',
   'start': 1698842700,
   'end': 1698843600,
   'gmtoffset': -10800},
  'regular': {'timezone': 'BRT',
   'start': 1698843600,
   'end': 1698868800,
   'gmtoffset': -10800},
  'post': {'timezone': 'BRT',
   'start': 1698868800,
   'end': 1698872400,
   'gmtoffset': -10800}},
 'dataGranularity': '1d',
 'range': '',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [8]:
income = vale3.income_stmt

In [11]:
income.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57 entries, Tax Effect Of Unusual Items to Operating Revenue
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   2022-12-31 00:00:00  56 non-null     object
 1   2021-12-31 00:00:00  55 non-null     object
 2   2020-12-31 00:00:00  57 non-null     object
 3   2019-12-31 00:00:00  57 non-null     object
dtypes: object(4)
memory usage: 2.2+ KB

In [ ]:
income

In [13]:
income.to_csv('income.csv')

In [28]:
income['2022-12-31']['EBITDA']

23846000000.0

In [ ]:
value = income.loc[income['2022-12-31']]

In [43]:
# funcao para extrair informacoes do income
def extract_financial_info(year, column_name, dataframe):
    """
    Função para extrair informações financeiras de um DataFrame com base no ano e no nome da coluna.
    
    Parâmetros:
    - year (str): Ano para o qual a informação deve ser extraída.
    - column_name (str): Nome da coluna (informação financeira) que se deseja extrair.
    - dataframe (pd.DataFrame): DataFrame contendo os dados financeiros.
    
    Retorna:
    - Valor da informação financeira para o ano especificado.
    """
    try:
        value = income[year][column_name]
        return value
    except KeyError:
        return f'Informação {column_name} para o ano {year} não encontrada.'
    except Exception as e:
        return f'Erro ao extrair informação: {e}'

In [44]:
value = extract_financial_info('2022-12-31', 'Other Gand A', income)
value

181000000.0

In [47]:
# Extraindo informacoes do balanço
balance = vale.balance_sheet
balance.head(10)

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,295810551.0,292841474.0,154563828.0,156192313.0
Ordinary Shares Number,4483078700.0,4839616924.0,5129910942.0,5128282457.0
Share Issued,4778889251.0,5132458398.0,5284474770.0,5284474770.0
Net Debt,10701000000.0,5480000000.0,6621000000.0,10226000000.0
Total Debt,15437000000.0,17201000000.0,20108000000.0,19367000000.0
Tangible Book Value,25629000000.0,25461000000.0,26448000000.0,31568000000.0
Invested Capital,51304000000.0,51673000000.0,55852000000.0,57643000000.0
Working Capital,1635000000.0,7162000000.0,9809000000.0,3197000000.0
Net Tangible Assets,25629000000.0,25461000000.0,26448000000.0,31568000000.0
Capital Lease Obligations,1531000000.0,1602000000.0,NaN,1791000000.0

In [ ]:
vale.cashflow

In [31]:
symbol = 'vale3.sa'

In [32]:
df = yf.download(symbol, start, end)

[*********************100%%**********************]  1 of 1 completed

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1653 entries, 2014-10-01 to 2021-05-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1653 non-null   float64
 1   High       1653 non-null   float64
 2   Low        1653 non-null   float64
 3   Close      1653 non-null   float64
 4   Adj Close  1653 non-null   float64
 5   Volume     1653 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 90.4 KB

In [49]:
del df['Open']
del df['High']
del df['Low']
del df['Adj Close']

In [51]:
#Porcentagem nwgativa da mudanca de precos
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1653 entries, 2014-10-01 to 2021-05-28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1653 non-null   float64
 1   Volume  1653 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 38.7 KB

In [ ]:
# show meta information about the history (requires history() to be called first)
msft.history_metadata

In [45]:
df['yesterday'] = df.shift(periods = 1)

ValueError: Cannot set a DataFrame with multiple columns to the single column yesterday